$orange-900: #FF6838;
$silver-100: #f9faff;
$silver-200: #ececec;
$gray: #c2c2c2;
$darkBlue-900: #363853;
$dark: #31352B;

%Rubik-300 {
  font-family: 'Rubik-Light', sans-serif;
  font-weight: 300;
}

%Rubik-400 {
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 400;
}

%Rubik-600 {
  font-family: 'Rubik-Rugular', sans-serif;
  font-weight: 600;
}